#tablage-preview {
	background-image: url('tablage/tablage-background.jpg');
	background-color: red;
	background-blend-mode: screen;
}
#tablage-preview h1, #tablage-preview h6 {
	color: black;
}
#virtualtabla-preview {
	background-image: url('virtualtabla/virtual-tabla-preview.png');
	background-color: black;
}
#tablanotebook-preview {
	background-image: url('tablanotebook/tablanotebook-preview.png');
	background-color: white;
}
#tablanotebook-preview h1, #tablanotebook-preview h6 {
	color: black;
}
