#businessownership-preview {
	background-image: url('businessownership/businessownership-preview.png');
	background-color: white;
}
#businessownership-preview h1, #businessownership-preview h6 {
	color: black;
}
