.publication .venue {
	font-size: 20px;
}
.publication .date {
	padding-left: 10px;
}
.publication .location {
	float: right;
}
.publication .role {
	font-style: underline;
}
.publication .pubtitle {
	font-style: italic;
}

.panel.badge {
	vertical-align: middle;
	text-align: center;
}
.panel.badge img {
	padding: 5px;
	text-align: left;
}