#realityingeometry-preview {
	background-image: url('caltechart/realityingeometry-preview.png');
	background-color: white;
}
#realityingeometry-preview h1, #realityingeometry-preview h6 {
	color: black;
}
#iceoverfire-preview {
	background-image: url('iceoverfire/iceoverfire-preview.png');
	background-color: black;
}
#tzzl8-preview {
	background-color: black;
}
